.divForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-apenas {
    color: white;
}
/* #id_status_tarefa{
    display: inline;
    margin-top: 5px;
} */

