{% extends 'base.html' %}

{% load crispy_forms_tags%}

{% block title %}Crud{% endblock %}

{% block content %}
    <div class="form-group">
        <form action="/tarefas/adicionar_tarefa/" method="POST">
            {% csrf_token %}
            <label>Descrição da tarefa</label>
            <input type="text" class="form-control" name="descricao"/>
            <input type="submit" class="btn btn-success mt-3" value="Adicionar">
            <a href="/tarefas" class="btn btn-primary mt-3">Voltar</a>
        </form>
    </div>

{% endblock %}