{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Crud{% endblock %}

{% block content %}
    <div class="form-group">
        <form action="/tarefas/excluir_tarefa/{{tarefa.id}}" method="POST">
            {% csrf_token %}
            <label>Descrição da tarefa</label>
            <input type="text" class="form-control" name="descricao" value="{{tarefa.descricao}}" readonly=""/>
            <input type="submit" class="btn btn-danger mt-3" value="Excluir">
            <a href="/tarefas" class="btn btn-primary mt-3">Voltar</a>
        </form>
    </div>

{% endblock %}