{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Crud{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead class="thead-light">
            <th>Tarefa</th>
            <th>Opções</th>
        </thead>
        <tbody>
            {% for tarefa in tarefas_lista %}
            <tr>
                {% if tarefa.status_tarefa == 'REALIZADA' %}
                    <td><p class="realizada">{{tarefa.descricao}}</p></td>
                {% else %}
                    <td><p>{{tarefa.descricao}}</p></td>
                {% endif %}
                <td>
                    <a href="/tarefas/atualizar_tarefa_pagina/{{tarefa.id}}" class="btn btn-success" role="button">Atualizar</a>
                    <a href="/tarefas/excluir_tarefa_pagina/{{tarefa.id}}" class="btn btn-danger" role="button">Excluir</a>
                    {% if tarefa.status_tarefa != 'REALIZADA' %}
                        <a href="/tarefas/concluir_tarefa/{{tarefa.id}}" class="btn btn-primary" role="button">Concluir</a>
                    {% endif %}
                </td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}