{% extends 'base.html' %}

{% load crispy_forms_tags%}

{% block title %}Crud{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead class="thead-light">
            <th>Tarefa</th>
            <th>Opções</th>
        </thead>
        <tbody>
            {% for tarefa in minhas_tarefas%}
            <tr>
                <td>{{tarefa.descricao}}</td>
                <td>
                    <a href="/tarefas/atualizar_tarefa_pagina/{{tarefa.id}}" class="btn btn-success" role="button">Atualizar</a>
                    <a href="/tarefas/excluir_tarefa_pagina/{{tarefa.id}}" class="btn btn-danger" role="button">Excluir</a>
                    <a href="/tarefas/concluir_tarefa/{{tarefa}}" class="btn btn-primary" role="button">Concluir</a>
                </td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}