<!DOCTYPE html>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
            <div class="container">
                <h3 class="titulo-apenas">Desafio Django</h3>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="/tarefas/criar_tarefas" class="btn btn-warning mr-2">Criar Tarefa</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'account_login' %}" class="nav-link">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'account_signup' %}" class="nav-link">Cadastro</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>